.academic{
    background: #EAF2FD;
    display: flex;
    justify-content: center; 
    top: -30px;
}

.academic__title{
    position: absolute;
    font-family: 'Raleway';
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: auto;
    text-align: center;
    color: #464646;
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin: 4rem auto;
}

.academic__courses__box{
    display: grid;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;
    margin-top: 10%;
    box-shadow: 2px 5px 7px 0px rgba(0, 0, 0, 0.8);
}

.academic__courses__list{
    justify-content: center;
    text-align: center;
    
}

.academic__courses__item__img{
    display: block;
    margin: 0px 50px;
    width: 84px;
    height: 58px;
    zoom: 50%;
}

.academic__courses__item__title{
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    width: 140px;
    height: 30px;
    margin-top: 50%;
    
}

.academic__courses__item__subtitle{
    width: 140px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
    color: #464646;
}

@media only screen and (min-width: 768px){
    .academic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 32px;

        width: 768px;
        height: 290px;
    }

    .academic__courses{
        display: flex;
        flex-direction: column;
        gap: 8px;

        width: 150px;
        height: 169px;
        margin-left: 3%;
        margin-top: -40%;
    }
    .academic__courses__box{
 
        width: 200px;
        height: 140px;
    }

    .academic__title{
        position: static;
    }

    .academic__courses__item__img{
        zoom: 40%;
        margin: 1px 60px;
    }
  
}

@media only screen and (min-width: 1200px){
    .academic{
        width: auto;
    }

    .academic__courses__box{
 
        width: 368px;
        height: 290px;
    }

}
